@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100&family=IBM+Plex+Mono:wght@300&display=swap");

@import './orderMenu.css';

.mainContainer {
    width: 100%;
    border-radius: 10px;
    background-color: rgba(84, 199, 224, 0.3);
    padding: 1vh 0 2vh 0;
    font-family: "IBM plex Mono", sans-serif;
    
}

.titleContainer {
    display: flex;
    height: 9vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.title {
    font-family: "antonio", sans-serif;
    font-size: 3.5vh;
    text-align: center;
    color: #087e8b;
}

/* -- table styles DON'T TOUCH!!!! --*/

.tableColumnTitle{
    color: #087e8b;
    margin-bottom: 2vh;
}

.categoryTableTitle {
    font-family: "antonio", sans-serif;
    font-size: 2.5vh;
    color: #087e8b;
    font-weight: bold;
    margin-bottom: 2vh;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th,
td {
    text-align: left;
}

.row4Columns {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 0.4fr;
    justify-content: space-between;
    width: 95%;
    margin-left: 2.5%;
}

.row3Columns {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-content: space-between;
    width: 95%;
    margin-left: 2.5%;
}

.row2Columns {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: space-between;
    width: 95%;
    margin-left: 2.5%;
}

.tableLastColumn {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

/*----- table buttons------*/

.listButton {
    all: unset;
}

.buttonIcon {
    font-size: 4vh;
    color: #087e8b;
}

@media (max-width: 768px){
    .mainContainer{
height: 100vh;}
}



