@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100&family=IBM+Plex+Mono:wght@300&display=swap");

.mainContainer {
  width: 100%;
  border-radius: 10px;
  background-color: rgba(84, 199, 224, 0.3);
  padding: 1vh 0 2vh 0;

}

.titleContainer {
  display: flex;
  height: 9vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "antonio", sans-serif;
  font-size: 3.5vh;
  text-align: center;
  color: #087e8b;
}

form {
  width: 100%;
  margin: 1.5%;
  display: grid;
  gap: 1vh;
  font-family: "IBM Plex Mono", monospace;
  font-size: 3vh;
  text-decoration: none;
  color: rgb(52, 52, 52);
  border-radius: 8px;
  margin: auto;

 
}

input,
option,
select {
  justify-content: space-between;
  border-radius: 8px;
  width: 95%;
  margin: auto;
  border: none;
  padding: 0.5vw;
  font-size: 2.5vh;
}
label,
span {
  width: 95%;
  margin: auto;
  text-align: left;

}
::placeholder{
  font-family: "IBM Plex Mono", monospace;
  color: #087e8b;
}
select{
  font-family: "IBM Plex Mono", monospace;
  color: #087e8b;
}

.formButtonContainer {
width: 95%;
margin: auto;
display: flex;
flex-direction: row;
justify-content: end;}


.formButton {
  width: 20vw;
    font-family: 'Antonio', sans-serif;
    text-decoration: none;
    font-size: 2.8vh;
    margin: 3vh 0 3vh 2vw;
    background-color: #087e8b;
    color: whitesmoke;
    padding: 1vh 2vw 1.5vh 2vw;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    &:hover {
      cursor: pointer;
      background-color: #00f9fd;
      color: #087e8b; 
    }
  }


@media (max-width: 768px){
.formButton{
width: 40vw;}}
